.footer
    .grid
        .footer__wrap
            .footer__group
                .footer__item
                    |© YupeStore 2015
                .footer__item.footer__item_mute
                    | Все права защищены.
            .footer__group
                .footer__item
                    a(href=jv0).footer__link О компании
                .footer__item
                    a(href=jv0).footer__link Доставка
                .footer__item
                    a(href=jv0).footer__link Оплата
                .footer__item
                    a(href=jv0).footer__link Новости
                .footer__item
                    a(href=jv0).footer__link Бренды
                .footer__item
                    a(href=jv0).footer__link Контакты
            .footer__group
                .footer__item
                    a(href=jv0).footer__link Телефония, МР3-плееры, GPS
                .footer__item
                    a(href=jv0).footer__link Домашнее видео
                .footer__item
                    a(href=jv0).footer__link Детские товары
                .footer__item
                    a(href=jv0).footer__link Активный отдых и туризм
                .footer__item
                    a(href=jv0).footer__link Музыкальные инструменты
            .footer__group
                .footer__item.footer__item_header Контакты
                .footer__item (123) 456-78-90, 0 (123) 456-78-90
                .footer__item E-mail: partner@YupeStore.net
                .footer__item Skype: YupeStore
            .footer__group
                .footer__item.footer__item_header Работаем
                .footer__item Пн–Пт 09:00–20:00
                .footer__item Сб 09:00–17:00
                .footer__item Вс выходной
