mixin menu-catalog($active)
    .menu-catalog(class = $active ? 'menu-catalog_active' : '')&attributes(attributes)
        ul
            li.has-submenu
                a(href=jv0) Мелкая техника для кухни
                .menu-catalog-submenu
                    ul
                        li
                            a(href=jv0) Вытяжки
                            ul
                                li
                                    a(href=jv0) Встраиваемые
                                li
                                    a(href=jv0) Купольные

                        li
                            a(href=jv0) Встраиваемые духовые шкафы

                            ul
                                li
                                    a(href=jv0) Aususs assimilant in hafnia!
                                li
                                    a(href=jv0) Heaven, uniqueness and a true afterworld.
                                li
                                    a(href=jv0) Hercle, demissio domesticus!.
                                li
                                    a(href=jv0) Ahoy, oh.
                                li
                                    a(href=jv0) Oh, urchin!
                                li
                                    a(href=jv0) Neutral kahlesses, to the universe.

                    ul
                        li
                            a(href=jv0) Never rob a bilge rat
                        li
                            ul
                                li
                                    a(href=jv0) Ho-ho-ho!
                                li
                                    a(href=jv0) Love me comrade, ye
                                li
                                    a(href=jv0) How rainy. You hail
                                li
                                    a(href=jv0) C'mon, never raid a
                                li
                                    a(href=jv0) When the mast
                                li
                                    a(href=jv0) The pirate commands

            li
                a(href=jv0) Встраиваемая бытовая техника
            li
                a(href=jv0) Приготовление кофе
            li
                a(href=jv0) Аксессуары для бытовой техники
            li
                a(href=jv0) Кухонные принадлежности
            li
                a(href=jv0) Техника для дома
            li
                a(href=jv0) Климатическая техника
            li
                a(href=jv0) Кулеры, диспенсеры и фильтры для воды
            li
                a(href=jv0) Бытовая химия
